/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.App {
    position: relative;
    /* display: flex; */
}

.MessageContainer {
     height: 500px;
     border: solid red;
     width: 75vw;
     display: inline-block;
     position: absolute;
     overflow-y: scroll;
    }

.UsersContainer {
    height: 500px;
    width: 25vw;
    border:solid green;
    display: inline-block;
    position: absolute;
    right: 0;
    }

.NewMessage {
    position: absolute;
    top: 557px;
}
